<div class="container-div">
  <h4>Nome: {{card.title}}</h4>
  <img class="avatar" src={{card.image}} alt="avatar">
  <p>Usuário: {{card.owner.name}}</p>
  <p>Mensagem: {{card.message}}</p>
  <p>Título: {{card.title}}</p>
  <p>Email: {{card.email}}</p>
  <p>Twitter: {{card.twitter}}</p>
  <p>Mobile: {{card.mobile}}</p>
  <p>Website: {{card.website}}</p>
  <p>Facebook: {{card.facebook}}</p>
  <p>Instagram: {{card.instagram}}</p>
  <p>Outros: {{card.other}}</p>
  <p>Link: {{card.link}}</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editCard">
  Editar dados
</button>

<!-- Modal -->
<div class="modal fade" id="editCard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar meu card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="/cards/edit/{{card._id}}" method="post">
        <div class="modal-body">
          <input type="text" name="cardTitle" placeholder="Nome da página" value="{{card.title}}">
          <input type="text" name="cardImage" placeholder="Foto" value="{{card.image}}">
          <input type="text" name="cardMessage" placeholder="Mensagem" value="{{card.message}}">
          <input type="text" name="cardEmail" placeholder="E-mail" value="{{card.email}}">
          <input type="text" name="cardMobile" placeholder="Telefone" value="{{card.mobile}}">
          <input type="text" name="cardWebsite" placeholder="Website" value="{{card.website}}">
          <input type="text" name="cardFacebook" placeholder="Facebook" value="{{card.facebook}}">
          <input type="text" name="cardTwitter" placeholder="Twitter" value="{{card.twitter}}">
          <input type="text" name="cardInstagram" placeholder="Instagram" value="{{card.instagram}}">
          <input type="text" name="cardOther" placeholder="Outros" value="{{card.other}}">
          <input type="text" name="cardLink" placeholder="Link" value="{{card.link}}">
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
      
    </div>
  </div>
</div>
</div>