<div class="container-div">
  <h4>{{card.title}}</h4>
  <br>
  {{#if card.image}}
    <img class="avatar" src="{{card.image}}" alt="avatar">
  {{else}}
    <img class="avatar" src="/img/default.png" alt="avatar">
  {{/if}}
  <br><br>
  <div class="float-container">
    <div class="float-child">
      {{#if card.owner.name}}
      <span>Usuário</span>
      <p>{{card.owner.name}}</p>
      {{else}}
      <p>Não preenchido</p>
      {{/if}}

      <span>Mensagem</span>
      {{#if card.message}}
      <p>{{card.message}}</p>
      {{else}}
      <p>Não preenchido</p>
      {{/if}}

      <span>Email</span>
      {{#if card.email}}
      <p>{{card.email}}</p>
      {{else}}
      <p>Não preenchido</p>
      {{/if}}

      <span>Celular</span>
      {{#if card.mobile}}
      <p>{{card.mobile}}</p>
      {{else}}
      <p>Não preenchido</p>
      {{/if}}

      <span>Website</span>
      {{#if card.website}}
      <p>{{card.website}}</p>
      {{else}}
      <p>Não preenchido</p>
      {{/if}}
    </div>
    <div class="float-child">

      <span>Twitter</span>
      {{#if card.twitter}}
      <p>{{card.twitter}}</p>
      {{else}}
      <p>Não preenchido</p>
      {{/if}}

      <span>Facebook</span>
      {{#if card.facebook}}
      <p>{{card.facebook}}</p>
      {{else}}
      <p>Não preenchido</p>
      {{/if}}

      <span>Instagram</span>
      {{#if card.instagram}}
      <p>{{card.instagram}}</p>
      {{else}}
      <p>Não preenchido</p>
      {{/if}}

      <span>Outros</span>
      {{#if card.other}}
      <p>{{card.other}}</p>
      {{else}}
      <p>Não preenchido</p>
      {{/if}}
    </div>

    <span>Link para compartilhar</span>
    <br>
    <br>
    <div>https://bizcard-br.herokuapp.com/showcase/{{card._id}}</div>
    <br>
    <div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editCard">
        Editar dados
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editCard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar meu card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="/cards/edit/{{card._id}}" method="post">
      <div class="float-container-modal">
        <div class="float-child">
          <div class="modal-body">
            <label for="basic-url">Nome do card</label><input class="input-group-text" type="text" name="cardTitle" placeholder="Nome da página" value="{{card.title}}">
            <label for="basic-url">Foto</label><input class="input-group-text" type="text" name="cardImage" placeholder="Foto" value="{{card.image}}">
            <label for="basic-url">Mensagem</label><input class="input-group-text" type="text" name="cardMessage" placeholder="Mensagem" value="{{card.message}}">
            <label for="basic-url">E-mail</label><input class="input-group-text" type="text" name="cardEmail" placeholder="E-mail" value="{{card.email}}">
            <label for="basic-url">Telefone</label><input class="input-group-text" type="text" name="cardMobile" placeholder="Telefone" value="{{card.mobile}}">
          </div>
        </div>
        <div class="float-child">
          <div class="modal-body">
            <label for="basic-url">Website</label><input class="input-group-text" type="text" name="cardWebsite" placeholder="Website" value="{{card.website}}">
            <label for="basic-url">Facebook</label><input class="input-group-text" type="text" name="cardFacebook" placeholder="Facebook" value="{{card.facebook}}">
            <label for="basic-url">Twitter</label><input class="input-group-text" type="text" name="cardTwitter" placeholder="Twitter" value="{{card.twitter}}">
            <label for="basic-url">Instagram</label><input class="input-group-text" type="text" name="cardInstagram" placeholder="Instagram" value="{{card.instagram}}">
            <label for="basic-url">Outros</label><input class="input-group-text" type="text" name="cardOther" placeholder="Outros" value="{{card.other}}">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
      </form>
      
    </div>
  </div>
</div>
