
{{#if cards}}
  {{#each cards}}
  <div class="gallery">
    <a  target="_blank" href="/cards/{{this._id}}">
      <div class="desc"><h3>{{this.title}}</h3></div>
      {{#if this.image}}
        <img src="{{this.image}}" alt="avatar">
      {{else}}
        <img src="/img/default.png" alt="avatar">
      {{/if}}
    </a>
  </div>
  {{/each}}
{{else}}
<div class="container-home">
    <a><img src="/img/negative.svg" width="120" height="55" class="white-svg"></a>
    <h3>Nenhum card encontrado. Favor digitar novamente a busca ou cadastrar um novo card</h3>
</div>
{{/if}}
        