<div class="container-div">
  <h4>{{card.title}}</h4>
  <br>
  {{#if this.image}}
    <img class="avatar" src="{{this.image}}" alt="avatar">
  {{else}}
    <img class="avatar" src="/img/default.png" alt="avatar">
  {{/if}}
  <p>{{card.owner.name}}</p>
  <p>Mensagem: {{card.message}}</p>
  <p>Título: {{card.title}}</p>
  <p>Email: {{card.email}}</p>
  <p>Twitter: {{card.twitter}}</p>
  <p>Mobile: {{card.mobile}}</p>
  <p>Website: {{card.website}}</p>
  <p>Facebook: {{card.facebook}}</p>
  <p>Instagram: {{card.instagram}}</p>
  <p>Outros: {{card.other}}</p>
</div>