<div class="container-div-showcase">
  <h4>{{card.title}}</h4>

  <br>
  
  {{#if card.image}}
    <img class="avatar" src="{{card.image}}" alt="avatar">
  {{else}}
    <img class="avatar" src="/img/default.png" alt="avatar">
  {{/if}}

  {{#if card.owner.name}}
    <p>{{card.owner.name}}</p>
  {{/if}}

  {{#if card.message}}
    <p>{{card.message}}</p>
  {{/if}}

  {{#if card.email}}
    <p>{{card.email}}</p>
  {{/if}}

  {{#if card.mobile}}
    <p>{{card.mobile}}</p>
  {{/if}}

  {{#if card.website}}
    <p>{{card.website}}</p>
  {{/if}}

  {{#if card.twitter}}
    <p>{{card.twitter}}</p>
  {{/if}}

  {{#if card.facebook}}
    <p>{{card.facebook}}</p>
  {{/if}}

  {{#if card.instagram}}
    <p>{{card.instagram}}</p>
  {{/if}}

  {{#if card.other}}
    <p>{{card.other}}</p>
  {{/if}}
</div>