<h4>Nome: {{card.title}}</h4>
<img class="avatar" src="{{card.image}}" alt="{{card.title}} photo">
<p>Dono: {{card.owner.name}}</p>
<p>Mensagem: {{card.message}}</p>
<p>Título: {{card.title}}</p>
<p>Email: {{card.email}}</p>
<p>Twitter: {{card.twitter}}</p>
<p>Mobile: {{card.mobile}}</p>
<p>Website: {{card.website}}</p>
<p>Facebook: {{card.facebook}}</p>
<p>Instagram: {{card.instagram}}</p>
<p>Outros: {{card.other}}</p>